{% extends "base.html" %}
{% block title %}
	Add Award
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='add_project.css')}}">
<style>body { background-color: #B1C2D8; }</style>
<div class="form-container">
	<form method="POST" enctype="multipart/form-data">
		<input type="text" name="name" placeholder="Award" required>
	    <br><br>

	    <input type="text" name="date" placeholder="Start - End">
	    <br><br>

	    <button type="submit">Add Award</button>
	</form>
</div>
{% endblock %}
