{% extends "base.html" %}
{% block title %}
edit_experience
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='add_project.css')}}">
<style>body { background-color: #B1C2D8; }</style>
<div class="form-container">
	<form method="POST">

		<div class="form-group">
			<label>Job Title</label>
		    <input type="text" name="title" value="{{ experience.title }}">
		</div>

		<div class="form-group">
			<label>Start-End</label>
		    <input type="text" name="time" value="{{ experience.time }}">
		</div>

		<div class="form-group">
			<label>Description</label>
		    <textarea name="description">{{ experience.description }}</textarea>
		</div>

	    <button type="submit">
	        Save Changes
	    </button>

	</form>
</div>
{% endblock %}