{% extends "base.html" %}
{% block title %}
edit_award
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='add_project.css')}}">
<style>body { background-color: #B1C2D8; }</style>
<div class="form-container">
	<form method="POST">

	    <input type="text" name="name" value="{{ award.name }}">
	    <br><br>

	    <input type="text" name="date" value="{{ award.date }}">
	    <br><br>

	    <button type="submit">
	        Save Changes
	    </button>

	</form>
</div>
{% endblock %}